/* Best with even numbers */
@font-face {
    font-family: Pixeled;
    src: url(../fonts/Pixeled.ttf);
}

* {
  cursor: none !important;
}

body{
    background-color: black;
	line-height: 1.6;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #6F8BA4;
    font-weight: 400;
	background-size: cover;
    height: 100vh;
}

#video{
	position: absolute;
	object-fit: cover;
}

.vh98{
	height: 98vh;
}

.cvertical{
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.but1{
	height: 80px;
    margin-bottom: 15px;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: 'Pixeled';
}

.but2{
  width: 100%;
  background: #282828;
  border-radius: 5px;
  padding: 13px;
  position: relative;
  z-index: 9999;
  font-family: 'Pixeled';
  font-size: 11px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  transition: 2s;
  transition-delay: 0.5s;
}

.invis{
  width: 100%;
  height: 8vh;
  background: #00000000;
  z-index: 9999;
  position: relative;
}

.invis2{
  width: 100%;
  height: 83vh;
  background: #a7a2a21c;
  position: relative;
  z-index: 99999;
}

.wht{
  background-color: #fff;
  color: #000;
}

html, body {
  margin: 0;
  padding: 0;
  background: #525ca5;
  color: #fff;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

description {
  display: block;
  padding: 25px;
  color: #333;
  font-size: 40px;
  font-style: italic;
  position: fixed;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  z-index: 9999;
  
}

.disable {
    font-size: 15px;
    cursor: pointer!important;
    font-family: 'Pixeled';
	color: #ffffff33;
}
#disable{
	cursor: pointer!important;
    width: 30px;
    height: 18px;
	opacity: 0.5;
}

#space-invader,
.space-laser {
  font-size: 4px;
}

#space-invader {
  width: 150px;
  height: 150px;
  position: fixed;
  margin: -3.5em 0 0 -6.5em;
  z-index: 9999;
  top: 50%;
  left: 50%;
  background: url(../images/pix-pxi.png);
  background-size: contain;
}

.space-laser {
  width: 0px;
  height: 0px;
  position: fixed;
  z-index: 9998;
  box-shadow: 0 0 0 0.5em white, 0 1em 0 0.5em white, 0 2em 0 0.5em white;
}
