/* Best with even numbers */
@font-face {
    font-family: Pixeled;
    src: url(../fonts/Pixeled.ttf);
}
.fontf{
  font-family: 'Pixeled';
}

body {
  cursor: none !important;
}

body{
    background-color: black;
	  line-height: 1.6;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #6F8BA4;
    font-weight: 400;
	  background-size: cover;
    height: 100vh;
}

#video{
	position: absolute;
	object-fit: cover;
}

.vh98{
	height: 98vh;
}

.cvertical{
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.but1{
	height: 80px;
    margin-bottom: 15px;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: 'Pixeled';
}

.but2{
  width: 100%;
  border-radius: 5px;
  padding: 13px;
  position: relative;
  z-index: 1000;
  font-family: 'Pixeled';
  font-size: 11px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  transition: 2s;
  transition-delay: 0.5s;
}

.invis{
  width: 100%;
  height: 8vh;
  background: #00000000;
  z-index: 9999;
  position: relative;
}

.invis2{
  width: 100%;
  height: 83vh;
  /* background: #a7a2a21c; */
  position: relative;
  z-index: 1000;
}

.wht{
  background: #fff!important;
  color: #000;
  transition: 1s;
}

.modal-content {
  cursor: initial!important;
}

.txt1{
  color: black;
  line-height: 20px;
  font-family: 'Pixeled';
  font-size: 14px;
  font-variant: all-petite-caps;
}

.colt{
  background: #ededed;
  border-radius: 9px;
  padding: 30px 30px;
}

.h4c{
  margin-bottom: 26px;
  font-size: 1.2rem;
}

.mtng-1{
  margin-top: -53px;
}
.mtps-1{
  margin-top: 20px;
}

.btncs{
  border: 0px;
  border-radius: 6px;
  padding: 6px 12px;
}

.btncs:hover{
  background-color: #d3d3d3;
}

.pt{
   height: 8vh;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    margin-top: 3px;
}

.pth{
  height: 72vh;
}

.bgg{
  background: rgba(170, 2, 2, 0.699);
}

html, body {
  margin: 0;
  padding: 0;
  background: #525ca5;
  color: #fff;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

description {
  display: block;
  padding: 25px;
  color: #333;
  font-size: 40px;
  font-style: italic;
  position: fixed;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  z-index: 1049;
  
}

.disable {
    font-size: 15px;
    cursor: pointer!important;
    font-family: 'Pixeled';
	color: #ffffff33;
}
#disable{
	cursor: pointer!important;
    width: 30px;
    height: 18px;
	opacity: 0.5;
}

#space-invader,
.space-laser {
  font-size: 4px;
}

#space-invader {
  width: 150px;
  height: 150px;
  position: fixed;
  margin: -3.5em 0 0 -6.5em;
  z-index: 999;
  top: 50%;
  left: 50%;
  background: url(../images/pix-pxi.png);
  background-size: contain;
}

.space-laser {
  width: 0px;
  height: 0px;
  position: fixed;
  z-index: 9998;
  box-shadow: 0 0 0 0.5em white, 0 1em 0 0.5em white, 0 2em 0 0.5em white;
}

/* tooltip */

.space-invader {
  position: relative;
  display: inline-block;
}

.space-invader .tooltiptext {
  width: 120px;
  background-color: #000000b0;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2px 15px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: 14px;
  font-size: 10px;
  font-family: 'Pixeled';
  font-variant-caps: all-petite-caps;
}

.space-invader .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000b0 transparent transparent transparent;
}

.space-invader:hover .tooltiptext {
  visibility: visible;
}

/* tooltip */


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbdbdb;;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

@media (min-width: 576px){
  .modal-dialog {
      max-width: 600px;
  }
}